.react-multi-carousel-item {
  min-height: 100vh !important;
  align-items: center !important;
  cursor: pointer !important;
}

.react-multi-carousel-item .carousel-item___bg-image {
  height: 100vh !important;
  width: 100% !important;
  object-fit: cover !important;
  pointer-events: none !important;
  border-radius: 0 !important;
}

.react-multiple-carousel__arrow--left,
.react-multiple-carousel__arrow--right {
  display: none !important;
}
